:root {
  --num-rows: 13;
  --sidebar-width: 20vw;
  --board-height: 90vh;
  --square-size: calc(var(--board-height) / var(--num-rows));
  --light-blue-bg: skyblue;
}

.app {
  background-color: var(--light-blue-bg);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.board {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.row {
  display: flex;
}

.square {
  height: var(--square-size);
  width: var(--square-size);
}

.square-background {
  height: 100%;
  width: 100%;
}
